.main_chat
  .main_chat__header
    .main_chat__header__left
      .main_chat__header__left__group_name
        = @group.name
      .main_chat__header__left__group_menber
        Member: 
        - @group.users.each do |user|
          = user.name
    .main_chat__header__right_edit
      =link_to edit_group_path(@group.id), class: "main_chat__header__right_edit__btn" do
        Edit 
  .main_chat__contents
    = render @messages 
      
  .main_chat__form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main_chat__form__left', placeholder: 'type a message'
        .main_chat__form__left__text 
          = f.label :image, class: 'main_chat__form__left__icon' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main_chat__form__right_send'

    